1. my tech stack is MERN
2. This is a webapp
3. This webapp has a feature as portfolio manager that allows users to track their stocks.
4. This webapp has a feature as stock market analyzer that allows users to analyze the stock market.
5. this webapp has a feature to search the stock symbols to show the price graph and able to draw lines for analysis.
